name: Update Blocked IPs

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: pip install -r requirements.txt
      
      - name: Generate blocked IPs list
        run: python generate_blocked_ips.py
      
      - name: Check for changes and generate timestamp
        run: |
          git add blocked-ips.txt
          if ! git diff --staged --quiet; then
            echo "Changes detected, generating LastUpdate.txt"
            TZ='Europe/Madrid' date +"%Y%m%d%H%M" > LastUpdate.txt
            git add LastUpdate.txt
          else
            echo "No changes in IPs, skipping LastUpdate.txt"
          fi
      
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git diff --quiet && git diff --staged --quiet || git commit -m "Update blocked IPs - $(TZ='Europe/Madrid' date +'%Y-%m-%d %H:%M:%S CET')"
      
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
